body { font-family: 'Inter', sans-serif; }

@media print {
  body { 
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact; 
    margin: 0;
    padding: 0;
   }
  .no-print { display: none !important; }
  #invoice-preview-content {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9; /* slate-100 */
  border-radius: 10px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #94a3b8; /* slate-400 */
  border-radius: 10px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}